@import url("https://fonts.googleapis.com/css2?family=Akshar:wght@300;400;500;600;700&display=swap");

@keyframes movingColor {
  from {color:red;}
  to {color:white;}
}

body {
  margin: 0;
  font-family: "Akshar", sans-serif;
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  color:white;
}

#title-box h1 {
  font-size: 75px;
  font-weight: 400;
  animation: movingColor 5s ease 1;
}

#title-box p,
#instructions-box p,
#name-box {
  font-size: 20px;
  font-weight: 200;
}

label {
  font-size: 20px;
  font-weight: 500;
}

#instructions-box h2 {
  font-size: 45px;
  font-weight: 500;
  animation: movingColor 5s ease 1;
}

.underline-text {
  text-decoration: underline;
}

.bold-text {
  font-weight: bold;
}

#title-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

#instructions-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

#name-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin: 50px 0px 0px 0px;
}

label {
  margin-bottom: 15px;
}

input[type="text"] {
  color: #a9a9a9;
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 3px 4px 2px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 10px 50px;
  border-radius: 5px; /*up to date browsers support this, but you can add prefixes if you want*/
  border: 0;
}

.game-button {
  background-color: red;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 15px 75px;
  font-size: 16px;
  font-family: "Akshar", sans-serif;
}

.game-button:hover {
  background-color:rgb(255, 140, 119);
  border-radius: 75px;
  cursor: pointer;
  box-shadow: 1px 3px 4px 2px rgba(0, 0, 0, 0.2);
  transition-duration: 0.4s;
}

.game-button:active {
  background-color: white;
  color: black;
  border-radius: 75px;
  cursor: pointer;
  box-shadow: 1px 3px 4px 2px rgba(0, 0, 0, 0.2);
  transition-duration: 0.5s;
}

#back-button {
  padding: 15px 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#my-canvas {
  background-color: rgb(255, 232, 196);
}

#canvas-div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: space-between;
  margin-top: 18px;
  border-radius: 20px;
}

#scores-canvas {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 800px;
}

#copyright {
font-size: 12px;
margin-top: 40px;
letter-spacing: 2px;
}

#copyright a {
  text-decoration: none;
  cursor: pointer;
  color: white;
  font-weight: 500;
  transition-duration: 0.3s;
}

#copyright a:hover {
  text-decoration: none;
  cursor: pointer;
  color: red;
  font-weight: 500;
  letter-spacing: 4px;
}

#bottom-canvas {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 25px;
}

#bottom-canvas img {
  margin-left: 75px;
  transition-duration: 0.2s;
}

#bottom-canvas img:hover {
  width: 25px;
  height: 25px;
  opacity: 0.5;
  cursor: pointer;
}

#gameover-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 12.5%;
}
